@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes boxSlideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-boxSlideIn {
  animation: boxSlideIn 0.5s ease-in-out forwards;
}
